.header {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.header__nav-item {
 margin-right: 18px;
 margin-left: 18px;
}
.header__nav-link {
  text-decoration: none;
  color: #000;
}
.header__invite-link {
 padding: 12px 24px;
 background-color: #000;
 color:#fff;
 text-decoration: none;
}